p,
td,
input,
button {
	font-size: larger;
	font-family: Calibri;
	vertical-align: middle;
}

button {
	background-color: inherit;
}

.submit {
	background-color: unset;
}

.section {
	text-align: center;
	font-size: x-large;
}

.name {
	text-align: right;
}

.label.name.Class25Width {
	background-color: red;
	width: 25%;
}

.label.value.Class25Width {
	background-color: green;
	width: 75%;
}

.label.name.Class50Width {
	background-color: green;
	width: 50%;
}

.label.value.Class50Width {
	background-color: green;
	width: 50%;
}

.label.name.Class75Width {
	background-color: green;
	width: 75%;
}

.label.value.Class75Width {
	background-color: red;
	width: 25%;
}

.Red {
	background-color: red;
}

.IndianRed {
	background-color: indianred;
}

.PaleVioletRed {
	background-color: palevioletred;
}

.OrangeRed {
	background-color: orangered;
}

.Green {
	background-color: green;
}

.LimeGreen {
	background-color: limegreen;
}

.GreenYellow {
	background-color: greenyellow;
}

.DarkSeaGreen {
	background-color: darkseagreen;
}

.LightGreen {
	background-color: lightgreen;
}

.CornFlowerBlue {
	background-color: cornflowerblue;
}

.DeepSkyBlue {
	background-color: deepskyblue;
}

.SkyBlue {
	background-color: skyblue;
}

.Yellow {
	background-color: yellow;
}

.LightGoldenRodYellow {
	background-color: lightgoldenrodyellow;
}